.renderContainer {
    height: 100%;
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -50;
    display: flex;
    align-items: center;
    justify-content: center;

    .closeBtn {
        position: absolute;
        right: 50px;
        top: 50px;
    }
}

.noRenderContainer {
    z-index: -50;
}

.preRender {
    width: 1000px;
    height: 750px;
    box-shadow: 0px -15px 15px 3px rgba(0, 0, 0, 0.08);
    margin: 20px auto;
    z-index: 0;
    flex-shrink: 0;
}

.slide-fade-enter-active {
    transition: all .3s ease;
}