@import "./mixin.scss";
@import "./layout/toolbar.scss";
@import "./layout/menu.scss";
@import "./layout/bottom.scss";
@import "./layout/body.scss";
@import "./mixin/header.scss";
@import "./preventation/editTool/body.scss";

body {
    margin: 0;
    box-sizing: border-box;
}

.container {
    /* Safari */
    display: -webkit-flex;
    display: flex;
    flex-basis: auto;
    box-sizing: border-box;
    min-width: 0;
    width: 100%;
    height: 100%;
    position: relative;

    .container-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        width: 100%;
        .header_title {
            font-size: 1.5rem;
            line-height: 2rem;
            font-weight: inherit;
            color: #606266;
        }

        .header_button {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

    }
}

.flex-vertical {
    flex-direction: column;
}

.flex-horizontal {
    flex-direction: row;
}

.all-screen {
    height: 100vh;
}

.flex {
    display: flex;
}