.page {
  overflow-x: hidden;
  @media screen and(max-width: 768px) {
    margin: 5px 10px;
  }

  @media screen and (min-width: 768px) {
    width: 750px;
  }

  @media screen and (min-width: 992px) {
    width: 970px;
  }

  @media screen and (min-width: 1300px) {
    width: 1170px;
  }

  @media screen and (min-width: 1500px) {
    width: 1470px;
  }

  @media screen and (min-width: 1800px) {
    width: 1770px;
  }

  @media screen and (min-width: 2000px) {
    width: 1870px;
  }

  @include marginSet(auto);

  .no-page-data {
    padding: 20px;
    vertical-align: middle;
    font-weight: bolder;
    font-size: 21px;
    color: #a3a3a3;
  }

  .title {
    h1 {
      color: getPageValue('utils', 'titleColor');
      font-weight: bolder;
    }
  }

  .font_emphasize {
    font-weight: bolder;
    color: getPageValue('utils', 'fontEmphasize');
  }

  .code {
    background-color: getPageValue('code', 'backColor');
    @include paddingSet(10px);
    @include marginSet(10px 0 0 0);
    line-height: 22px;
    color: getPageValue('code', 'color');
    border-radius: 15px;
    text-align: left;
    text-indent: getPageValue('code', 'textIndent');
    border: 1px solid #f8f8f8;
    @include overflow('x');

    .code_font {
      font-weight: bolder;
      font-size: 16px;
      white-space: nowrap;
      word-break: break-all;
    }

    .note {
      color: getPageValue('utils', 'noteColor');
      white-space: nowrap;
      word-break: break-all;
      margin: 0;
    }
  }

  .paragraph {
    text-align: left;
    p {
      text-indent: 32px;
      line-height: 25px;
      letter-spacing: 0.5px;
    }
  }

  @import './summary.scss';

  a {
    color: getPageValue('utils', 'hrefColor');
    font-weight: 500;
    text-decoration: none;
  }

  .list_label {
    list-style-type: decimal;
    font-weight: 800;
    font-size: 16px;
    text-align: left;

    li {
      margin-top: 10px;
    }

    .label_title {
      text-indent: 0;
    }

    .label_body {
      font-weight: normal;
      font-size: 14px;

      p {
        text-indent: 0px;
      }
    }
  }

  .page-title {
    border-bottom: 2px solid getPageValue('pageTitle', 'borderColor');
    @include pageTitle();
  }

  .page-title-no-line {
    @include pageTitle();
  }

  @import './special_char.scss';
}
