.highlight_char {
  background-color: red;
  color: #ffffff;
  font-weight: 400;
  padding: 0 3px;
  border-radius: 3px;
}

.bold_char {
    font-weight: bolder;
}

.tilt_char {
    font-style: italic;
}

.underline_char {
    text-decoration: underline;
    font-weight: 600;
}

.deleteline_char {
    font-weight: 600;
    color: #000;
}

.inlineCode_char {
    background-color: rgb(243, 244, 244);
    color: rgb(70, 70, 70);
    font-weight: 400;
    padding: 0 5px;
    border-radius: 5px;
    margin: 0 3px;
    font-size: 12px;
    vertical-align: top;
    border: 1px solid rgb(232, 233, 237);
}