.summary {
  line-height: 30px;
  color: getPageValue('summary', 'color');
  border-left: 3px solid #dfe2e5;
  background-color: getPageValue('summary', 'backColor');
  font-size: 16px;
  font-weight: 700;
  @include paddingSet(0 5px);
  text-align: left;
  @include marginSet(0 10px 0 10px);

  span,
  p {
    @include paddingSet(10px 0 5px 10px);
    letter-spacing: 0.5px;
  }

  p {
    margin: 0 auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 auto;
  }

  .inlineCode_char {
    padding: 0 5px;
  }

  .code {
    line-height: 22px;
    margin: 10px;
    letter-spacing: 0px;
    background-color: getPageValue('code', 'backColor');
    @include paddingSet(10px);
    color: getPageValue('code', 'color');
    border-radius: 15px;
    text-align: left;
    text-indent: getPageValue('code', 'textIndent');
    border: 1px solid #f8f8f8;
    width: 100%;
    font-weight: 400;
    font-size: 13px;

    pre {
      margin: 0 0 0.5em 0;
      p {
        padding: 5px 0;
      }
    }

    .code_font {
      white-space: nowrap;
      word-break: break-all;
      font-weight: bolder;
      font-size: 16px;
      letter-spacing: 0px;
    }

    span {
      padding: 0;
      letter-spacing: 0px;
    }

    .note {
      white-space: nowrap;
      word-break: break-all;
      color: getPageValue('utils', 'noteColor');
      letter-spacing: 0px;
    }
  }
}