tr {
  vertical-align: inherit;
}

.theadTd {
  background-color: #cfd5d5;
  color: #ffffff;
  position: relative;
  word-break: break-all;
  padding: 12px 5px;
  border-right: 1px solid #ebeef5;
  -moz-user-select: none;
  /*火狐*/
  /*选中文字时避免出现蓝色背景*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  /*选中文字时避免出现蓝色背景*/
  -ms-user-select: none;
  /*IE10*/
  /*选中文字时避免出现蓝色背景*/
  user-select: none;
  /*选中文字时避免出现蓝色背景*/
}

.table_header-column {
  overflow: hidden;
}

.triangle_down {
  width: 0;
  height: 0;
  border-width: 8px 8px 0;
  border-style: solid;
  border-color: #333 transparent transparent;
  position: absolute;
  top: 20px;
  cursor: pointer;
}

.triangle_up {
  width: 0;
  height: 0;
  border-width: 0 8px 8px;
  border-style: solid;
  border-color: transparent transparent #333;
  position: absolute;
  top: 8px;
  cursor: pointer;
}

.tableStyle {
  background: white;
  width: 100%;
  margin: 0;
  padding: 0;
}