.tdStyle {
  border-top: 1px solid #ebeef5;
  border-right: 1px solid #ebeef5;
  height: 40px;
  transition: all linear 0.2s;
  padding: 12px 5px;
  font-size: 15px;
  text-overflow: ellipsis;
  -moz-user-select: none; /*火狐*/ /*选中文字时避免出现蓝色背景*/
  -webkit-user-select: none; /*webkit浏览器*/ /*选中文字时避免出现蓝色背景*/
  -ms-user-select: none; /*IE10*/ /*选中文字时避免出现蓝色背景*/
  user-select: none; /*选中文字时避免出现蓝色背景*/
  word-break: break-all;
}
.table_body-table{
  width: 100%;
}
tbody {
  vertical-align: middle;
}
.table_body-wrapper {
  overflow-x: auto;
}
tr {
  vertical-align: inherit;
}
.table_body-no-data {
  height: 100%;
  width: 100%;
  border-top: 1px solid #ebeef5;
  min-height: 60px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  .empty-label {
    color: #909399;
    font-weight: bolder;
    width: 50%;
    line-height: 60px;
  }
}
