.item-animate {
    width: 100%;
    padding: 4px;
    padding-bottom: 10px;

    .item-animate_label {
        @include header();
    }

    .item-animate_choice {
        overflow: hidden;
        width: 100%;
        border-bottom: 1px solid #dcdfe6;
        padding-bottom: 5px;

        .animate-choice {
            margin-left: 10px;

            span {
                font-size: 13px;
                font-weight: 400;
            }
        }

        .animate-setting {
            margin: 5px 0;

            .label {
                font-size: 13px;
                font-weight: 500;
            }
        }
    }
}