.router-body {
    background-color: #e9eef3;
    text-align: center;
    flex: 1;
    display: block;
    padding: 20px;
    overflow: auto;
    box-sizing: border-box;
    flex-basis: auto;
    width: auto;
}