.left-menu {
    background-image: linear-gradient(180deg, rgba(139, 144, 255, .87), rgba(152, 94, 238, .83), #b765d9, #de8ac4);
    color: #ffffff;
    font-weight: bolder;
}

.left-aside {
    overflow: auto;
    box-sizing: border-box;
    flex-shrink: 0;
}

.left-menu-vertical:not(.el-menu--collapse) {
    width: 240px;
}

.el-menu-item:hover {
    background-color: #fff;
    color: #000;
}

.el-menu-item.is-active {
    background-color: #ffffff;
}

.el-menu-item-group__title {
    color: #dcdde0;
}

.el-menu-item {
    margin: 10px;
    border-radius: 10px;
}