.left-menu {
    background-color: #fff;
    text-align: center;
}

.left-aside {
    overflow: auto;
    box-sizing: border-box;
    flex-shrink: 0;
}

.left-menu-vertical:not(.el-menu--collapse) {
    width: 200px;
}