.toolbar {
    text-align: center;
    line-height: 50px;
    background-color: #b3c0d1;
    --el-header-padding: 0 20px;
    --el-header-height: 50px;
    padding: var(--el-header-padding);
    box-sizing: border-box;
    flex-shrink: 0;
    height: var(--el-header-height);
    .toolbar_menu {
        display: inline-block;
        float: left;
    }

    .toolbar_title {
        display: inline-block;
        font-weight: bolder;
        font-size: 18px;
    }

    .toolbar_status {
        display: inline-block;
        float: right;
        margin-right: 20px;
    }
}