$page: (
  utils: (
    titleColor: #000000,
    fontEmphasize: rgb(255, 0, 0),
    noteColor: rgb(117, 154, 91),
    hrefColor: #3eaf7c,
  ),
  code: (
    backColor: #f8f8f8,
    color: #000,
    textIndent: 1em,
  ),
  summary: (
    color: #afafaf,
    backColor: #ffffff,
  ),
  pageTitle: (
    borderColor: #B8BCC1
  )
);

@function getPageValue($modules, $key) {
  @if not map-has-key($map: $page, $key: $modules) {
    @return null;
  }
  $module: map-get($page, $modules);
  @if not map-has-key($map: $module, $key: $key) {
    @return null;
  }

  @return map-get($module, $key);
}
